@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Sigmar&display=swap");

@layer base {
  *,
  ::before,
  ::after {
    @apply border-gray-400 dark:border-gray-600;
  }
}

:root {
  --white: theme("colors.white");
  --white-50-opacity: rgba(255, 255, 255, 0.5);
  --black: theme("colors.black");
  --gray-200: theme("colors.gray.200");
  --gray-700: theme("colors.gray.700");
  --gray-900: theme("colors.gray.900");
  --gray-900-50-opacity: rgba(31, 41, 55, 0.5);
  --red-200: theme("colors.red.200");
  --red-400: theme("colors.red.400");
  --red-500: theme("colors.red.500");
  --red-600: theme("colors.red.600");
  --red-800: theme("colors.red.800");
  --blue-200: theme("colors.blue.200");
  --blue-400: theme("colors.blue.400");
  --blue-600: theme("colors.blue.600");
  --blue-800: theme("colors.blue.800");
  --yellow-200: theme("colors.yellow.200");
  --yellow-400: theme("colors.yellow.400");
  --yellow-600: theme("colors.yellow.600");
  --yellow-800: theme("colors.yellow.800");
}

body {
  background-color: var(--white);
  color: var(--black);
  transition: background-color 0.3s ease, color 0.3s ease;
}

html.dark body {
  background-color: var(--gray-900);
  color: var(--white);
}

/* 
-----
MODAL 
-----
*/

.modal-container {
  background-color: var(--white);
  color: var(--black);
}

html.dark .modal-container {
  background-color: var(--gray-900);
  color: var(--white);
}

.modal-backdrop {
  background-color: var(--gray-900-50-opacity);
}

html.dark .modal-backdrop {
  background-color: var(--white-50-opacity);
}

/* 
-----
GRID
-----
*/

.item {
  border-color: var(--gray-900);
}

html.dark .item {
  border-color: var(--gray-200);
}

.item-current {
  background-color: var(--gray-200);
  border-color: var(--gray-900);
}

html.dark .item-current {
  background-color: var(--gray-700);
  border-color: var(--gray-200);
}

.expense {
  background-color: var(--white);
  border-color: var(--red-800);
  transition: background-color 0.3s ease;
  color: var(--red-800);
}

html.dark .expense {
  background-color: var(--gray-900);
  border-color: var(--red-400);
  transition: background-color 0.3s ease;
  color: var(--red-400);
}

.expense:hover {
  background-color: var(--red-200);
}

html.dark .expense:hover {
  background-color: var(--red-800);
}

.income {
  background-color: var(--white);
  border-color: var(--blue-800);
  transition: background-color 0.3s ease;
  color: var(--blue-800);
}

html.dark .income {
  background-color: var(--gray-900);
  border-color: var(--blue-400);
  transition: background-color 0.3s ease;
  color: var(--blue-400);
}

.income:hover {
  background-color: var(--blue-200);
}

html.dark .income:hover {
  background-color: var(--blue-800);
}

.header {
  background-color: var(--white);
}

html.dark .header {
  background-color: var(--gray-900);
}

.weekday-header {
  background-color: var(--white);
  border-color: var(--gray-900);
}

html.dark .weekday-header {
  background-color: var(--gray-900);
  border-color: var(--white);
} /* 
-----
INPUT 
-----
*/

input[type="text"] {
  color: var(--black);
  background-color: var(--white);
}

html.dark input[type="text"] {
  background-color: var(--gray-900);
  color: var(--white);
}

input[type="date"] {
  color: var(--black);
  background-color: var(--white);
}

html.dark input[type="date"] {
  background-color: var(--gray-900);
  color: var(--white);
}

html.dark input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

select {
  color: var(--black);
  background-color: var(--white);
}

html.dark select {
  background-color: var(--gray-900);
  color: var(--white);
}

textarea {
  color: var(--black);
  background-color: var(--white);
}

html.dark textarea {
  background-color: var(--gray-900);
  color: var(--white);
}

/* 
-----
BUTTON
-----
*/

.bg-button {
  background-color: var(--gray-900);
  transition: background-color 0.3s ease;
  color: var(--white);
}

html.dark .bg-button {
  background-color: var(--white);
  transition: background-color 0.3s ease;
  color: var(--black);
}

.bg-button:hover {
  background-color: var(--gray-700);
  color: var(--white);
}

html.dark .bg-button:hover {
  background-color: var(--gray-200);
  color: var(--black);
}

button[type="submit"] {
  background-color: var(--gray-900);
  transition: background-color 0.3s ease;
  color: var(--white);
}

html.dark button[type="submit"] {
  background-color: var(--white);
  transition: background-color 0.3s ease;
  color: var(--black);
}

button[type="submit"]:hover {
  background-color: var(--gray-700);
  color: var(--white);
}

html.dark button[type="submit"]:hover {
  background-color: var(--gray-200);
  color: var(--black);
}

button[type="reset"] {
  background-color: var(--white);
  transition: background-color 0.3s ease;
  color: var(--black);
  border-color: var(--gray-900);
}

html.dark button[type="reset"] {
  background-color: var(--gray-900);
  transition: background-color 0.3s ease;
  color: var(--gray-200);
  border-color: var(--gray-200);
}

button[type="reset"]:hover {
  background-color: var(--gray-200);
  color: var(--black);
}

html.dark button[type="reset"]:hover {
  background-color: var(--gray-700);
  color: var(--white);
}

/* 
-----
ANIMATION
-----
*/

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-in {
  animation: fadeIn 0.3s ease-in forwards;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-down {
  animation: slideDown 0.3s ease-in-out forwards;
}

/* 
-----
MISC
-----
*/

label.required::after {
  content: "*";
  color: var(--red-500);
  margin-left: 4px;
}

.spinner {
  color: var(--gray-900);
  fill: var(--white);
}

html.dark .spinner {
  color: var(--white);
  fill: var(--gray-700);
}
